@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
body,html{
    height: 100%;
    width: 100%;  
}
body{
    background-color: black;
    color: white;
    background-image: url(./bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin:0px;
    font-family: 'Oswald', sans-serif;
    
}
.button {
    background: #030404;
    background-image: -webkit-linear-gradient(top, #030404, #727A87);
    background-image: -moz-linear-gradient(top, #030404, #727A87);
    background-image: -ms-linear-gradient(top, #030404, #727A87);
    background-image: -o-linear-gradient(top, #030404, #727A87);
    background-image: -webkit-gradient(to bottom, #030404, #727A87);
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    height: 0;
    line-height: 0;
    color: #FFFFFF;
    width: 100px;
    font-size: 25px;
    font-weight: 100;
    padding: 29px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 4px 0 0 #000000;
    border: solid #000000 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .button:hover {
    border: double #FFFFFF 1px;
    background: #FFFFFF;
    background-image: -webkit-linear-gradient(top, #FFFFFF, #000000);
    background-image: -moz-linear-gradient(top, #FFFFFF, #000000);
    background-image: -ms-linear-gradient(top, #FFFFFF, #000000);
    background-image: -o-linear-gradient(top, #FFFFFF, #000000);
    background-image: -webkit-gradient(to bottom, #FFFFFF, #000000);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-decoration: none;
 }
#dia{
    width: 20%;
}
#cabecalho-container{
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 10%;
}
#main-container{
    display: flex;
    height: 85%;
    justify-content: center;
    align-items: center;
}
#main-data{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
}
#main-titulo{
    width: 40%;
}
#main-texto{
    font-size: 22px;
    width: 40%;
    text-align: justify;
}

#rodape-container{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    background-color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
    color: black;
    font-size: large;
}
#texto-nasa{
    font-size: 22px;
    width: 40%;
    text-align: justify;
    display: none;
}
@media (max-width: 700px){
    body{
        background-size: auto;
    }
    #cabecalho-container{
        height: 15%;
    }
    #main-container{
        flex-direction: column;
        height: 80%;
    }
    #main-texto{
        width: 90%;
        font-size: 15px;
    }
    #texto-nasa{
        width: 90%;
        font-size: 15px;
    }
}